.top-header-wrapper {
  background: #0f1a24;
  border-bottom: 3px solid orange;
}

/* MAIN MENU */
.top-main-menu {
  display: flex;
  gap: 40px;
  padding: 14px 40px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.top-main-menu span {
  cursor: pointer;
}

.top-main-menu span:hover {
  color: orange;
}

/* SUB MENU */
.top-sub-menu {
  display: flex;
  gap: 20px;
  padding: 10px 40px 16px;
  background: #142434;
}

.top-sub-menu button {
  background: linear-gradient(to right, #ff7a00, #ff9a2a);
  border: none;
  color: white;
  padding: 8px 22px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.top-sub-menu button:hover {
  transform: translateY(-2px);
}
